@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  color: white;
}

a {
  text-decoration: none;
  color: hsla(0, 0%, 51%, 0.861);
}

.router-link-active, .router-link-exact-active {
  display: inline-flex;
  color: rgb(23, 214, 214);

  &:before {
    content: '✻';
  }

}


@media (min-width: 1024px) {


  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
